body{text-align: center;
     /* border: 20px solid whitesmoke; */
      opacity: 1000;
      border-width: 5px 15px;
border-style: thick;
background-color: black;
/* width: 700px;  */ 
margin-bottom: 50px;
 text-align: center;
}

    

h1{
width: 230px;
padding: 1rem;
margin-bottom: 30px;
background-color: rgb(238, 7, 115);
text-align: center ;
position: absolute; 
    top: 20px; 
    left: 50%;
    transform: translateX(-50%); 
    z-index: 10; 
} 



main{
    /* width: 400px; */
    /* border: 2px solid whitesmoke; opacity: 20; */
    border-width:1px 1px ;
  padding: 50px;
  margin: 50px auto 0 auto;
  background-color: white;
  text-align:left;
  z-index: 1; 
}

main p {
    font-size: 2rem;
}

.btnn {font-size: 30px;
        margin-top: 10px;
}


/* STYLING FOR TABLET */



/* STYLING FOR DESKTOP */

@media only screen and (min-width: 768px) and (max-width: 1424px)  {
    /* Your desktop styles go here */
    body {
        margin: 0 auto;
        max-width: 80%;
    }
  }
  