* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color:  #f0f7f4;
    height: 700px;
    
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

header{
    margin-top: 40px;
}

.main {
    background-color: whitesmoke;
    padding: 1rem;
}

.h-container {
    padding-left: 1rem;
}

.first-part {
    text-align: center;
    font-size: 20px;
}

.first-part img {
    height: 80px;
    margin-bottom: 20px;
}

.first-part h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.first-part p {
    color: #7a7a7a;
    line-height: 1.6;
}

/* Styling for the form inside the sub-container */
.sub-container {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: 5px;
}

.form-row {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.form-row label {
    font-size: 0.9rem;
    display: block;
    margin-bottom: 0.3rem;
}

.panel {
    flex: 1;
    font-size: 13px;
}

.form-row input, .form-row select, .form-row button {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #ece7e7;
    border-radius: 5px;
}

button {
    background-color: #7db1a3;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #31a584;
}

.terms {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8rem;
    color: #7a7a7a;
}

.terms a {
    color: #38b593;
    text-decoration: none;
}

/* Responsive for Mobile */
@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }

    .form-row {
        flex-direction: column;
    }
}

.btnn {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    border: 2px solid greenyellow;
    display:contents;
  }
