body {
    font-family: Arial, sans-serif;
    justify-content: center;
    display:flex;
    height: 98vh;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    align-items: center;
    background-color: #f0f7f4;
    
}
.container {
    display: flex;
    justify-content: space-between;
    /* width: 60%; */
    background-color: white;
    padding: 40px;
    padding-left: 20%;
    box-shadow: 1px 2px 8px rgba(206, 198, 198, 0.1);
    border-radius: 10px;
    /* max-width: 900px; */
}

.first-part {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 23px;
}

.first-part img {
    /* width: 80px; */
    height: 80px;
    margin-bottom: 20px;
    opacity: 12px;
}

.first-part h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.first-part p {
    color: #7a7a7a;
    line-height: 1.6;
    text-align: center;
}

.form-1 {margin-bottom: 23px;
    display: flex;
    gap: 20px;
    justify-content:space-between;
    
}

.form-1 input, .form-1 select {
    /* width: 80%; */
    border: 1px solid #ece7e7;
    border-radius: 5px;
    padding: 15px;
    
}

.form-1 label {
    font-size: 0.9rem;
    margin-bottom: 5px;
    display: block;
}

.form-1 .panel {
    /* width: 48%; */
}

.form-1 button {
    background-color: #7db1a3;
    padding: 10px;
    width: 100%;
    color: rgba(255, 255, 255, 0.671);
    cursor:default;
    border: none;
    border-radius: 5px;
    
    
}

.form-1 button:hover {
    background-color: #31a584;

}
.terms {
    text-align: center;
    margin-top: 20px;
    font-size: 0.6rem;
    color: #7a7a7a;
}

.terms a {
    color: #38b593;
    text-decoration: none;
}

.right-section{

    padding: 3vh;
}
.h-container{
    padding-left: 3vh;
}
